@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,700&display=swap');

html {
  scroll-behavior: smooth;

}
body {
  font-family: 'Montserrat', sans-serif;
  color: rgba(0,0,0,0.6);
  background-color: rgba(0,0,0,0.01) !important;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #E6A756;
}

h1, h2, h3, h5 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #294936;
}

p {
  font-size: 20px;
  font-weight: lighter;
  color: rgb(80,80,80);
  margin-bottom: 0.3rem !important;
}
#typewriter strong{
    color: #294936;

}
strong {
  color: #E6A756;// #C14953;
}
.shadow-smooth {
  background-color: rgba(0,0,0,0.1) !important;
  box-shadow: 0px 4px 10px rgba(0,0,0, 0.2);
}


.banner {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url('/images/banner.png');
  background-position: center;
  background-size: cover;
  /* type writter */
  font-size: 40px;
  color: white;
  // font-family: 'Source Code Pro', monospace;
  font-weight: lighter;
}

#typewriter {
  position: absolute;
  top: 30vh ;
  left: 6vw;
  height: 60%;
  width: auto;
}
#typewriter strong {
  color: white;
}
.infos, .competences, .experiences, .realisations, .contact, .parcour {
  width: 100vw;
  padding: 10vh;
  background-color: #fcfcfc;
  // box-shadow: 0px 4px 5px rgba(0,0,0, 0.1);
  // border-radius: 3px;
}

.profile-picture {
  background-image: url('/images/profile.png');
  background-position: right 40% bottom 55%;
  transform: rotate(-7deg);
  border-radius: 50%;
  height: 170px;
  width: 170px;
  margin-bottom: 15px;
}

/* PARCOUR */
.parcour {
  color: rgb(80,80,80);
}

.frise {
  position: relative;
  border-left: 1px solid #000;
}

.dot {
  position: absolute;
  top: 50%;
  left: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(80,80,80);
}

.years p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #E6A756;
}

.years strong {
  color: #E6A756;
}


/* SKILLS */
.competences i {
  color: #BDD9BF;
}

.tech-skill {
  display: inline;
  padding: 5px 15px;
  // background-color: white;
  border-radius: 50px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #BDD9BF;
  box-shadow: 0px 4px 5px rgba(0,0,0, 0.1);
}

/* REALISATION */
.intouch-project {
  width: 22vw;
  height: 35vh;
  background-image: url('/images/cover_picture.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0px 4px 5px rgba(0,0,0, 0.3);
  margin-right: 4vh;
  transition: all 0.8s;
}

.modal-body #board-1 {
  height: 190px;
  width: 390px;
  background-image: url('/images/intouch-board.png');
  background-position: center;
  background-size: contain;
}
.modal-body #board-2 {
  height: 190px;
  width: 390px;
  background-image: url('');
  background-position: center;
  background-size: contain;
}

.airmask-project {
  width: 22vw;
  height: 35vh;
  background-image: url('/images/airmask.png');
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0px 4px 5px rgba(0,0,0, 0.3);
  margin-right: 4vh;
  transition: all 0.8s;

}
.label {
  opacity: 0.8;
}
.project-card:hover {
  width: 23vw;
  height: 36vh;
}
/* Navbar */

.my-navbar-black {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  font-size: 1.2rem;
  height: 7vh;
  width: 100vw;
  z-index: 100;
  transition: all 0.8s;
  background-color: #294936;
  box-shadow: 0px 4px 5px rgba(0,0,0, 0.3);
}

.my-navbar-black a {
    text-decoration: none;
    color: white;
    opacity: 0.7;
  }
.my-navbar-black  a:hover {
    text-decoration: none;
    color: white;
    opacity: 1;
  }

.my-navbar-black a.active {
  color: white;
  opacity: 1;
}

.logo-image {
  background-image: url('/images/YT-white.png');
  background-position: center;
  background-size: cover;
  height: 6vh;
  width: 6vh;
  color: rgb(227, 197, 103);

}
.my-nav-links {
  padding: 0 2vw 7px 2vw;
  font-weight: 200;
}

a {
  color: black;
  opacity: .6;
  text-decoration: none;
  transition: opacity 0.5s ease;
}

a:hover {
  opacity: 1;
}

.hidden {
  display: none;
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7vh;
  background-color: #294936;
}
.footer p {
    color: white;
    font-size: 1rem;
}

.footer a:hover {
  text-decoration: none;
}
/* BUTTON */

/* download button */
.btn-download i {
  color: rgb(80,80,80);
  opacity: 1;
  transition: all 0.5s;
}

a.btn-download {
  padding: 10px 20px;
  border-radius: 50px;
  color: rgb(80,80,80);
  opacity: 1;
  text-decoration: none;
  transition: all 0.5s;
  background-color: #BDD9BF;
  box-shadow: 0px 4px 5px rgba(0,0,0, 0.2);
}
a.btn-download:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
  background-color: #294936;
}
a.btn-download:hover i{
  color: white;
}

/* down button */
.logo-banner img {
  position: absolute;
  top: 5vh;
  left: 48.5%;
  width: 3rem;
  color: white;
}
.down-button i {
  position: absolute;
  bottom: 5vh;
  left: 48.5%;
  font-size: 3rem;
  color: white;
  transition: 0.5s;
}
.down-button i:hover {
  color: white;
}
/* up button */

.fixe-top-button {
    position: fixed;
    bottom: 6vh;
    right: 7vh;
    z-index: 1;
    font-size: 3rem;
}
  .fixe-top-button i{
    color: #294936;
    opacity:1;
    }

/* CONTACT */

.socials a {
  opacity: .8;
}
.socials a:hover {
  opacity: 1;
}

.malt {
  margin-left: 5rem;
  width: 50px;
  height: 50px;
}
/* email form */

.email-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.email-form form {
  width: 70%;
}

.email-form input, .email-form textarea {
  font-weight: lighter;
}

.socials {
  font-size: 50px;
  border-radius: 4px;
}

.btn-send {
  width: 100%;
  padding: 5px 10px 5px;
  color: rgb(80,80,80);
  font-weight: normal;
  border-radius: 4px;
  background-color: #BDD9BF;
  box-shadow: 0px 4px 5px rgba(0,0,0, 0.1);

  opacity: 1;
  transition: 0.5s;
}
.btn-send:hover {
  opacity: 1;
  font-weight: normal;
  color: white;
  background-color: #294936;

}
